<div ng-class="{'col-md-2-5': box.position!=1, 'col-md-7': box.position==1}">
  <div ng-repeat="block in box.blocks | orderBy: 'position'" class="panel panel-default block {{block.type | lowercase}}" >
    <div class="panel-heading" ng-show="block.title">
      <h3 class="panel-title">{{block.title}}</h3>
    </div>
    <div class="panel-body">
      <noosfero-block [block]="block" [owner]="ctrl.owner"></noosfero-block>
    </div>
  </div>
</div>
