<div class="article">
  <div class="page-header">
    <h3 ng-bind="ctrl.article.title"></h3>
  </div>

  <div class="sub-header clearfix">
    <div class="page-info pull-right small text-muted">
      <span class="time">
        <i class="fa fa-clock-o"></i> <span am-time-ago="ctrl.article.created_at | dateFormat"></span>
      </span>
      <span class="author" ng-if="ctrl.article.author">
        <i class="fa fa-user"></i>
        <a ui-sref="main.profile.home({profile: ctrl.article.author.identifier})">
          <span class="author-name" ng-bind="ctrl.article.author.name"></span>
        </a>
      </span>
    </div>
  </div>

  <div class="page-body">
    <div ng-bind-html="ctrl.article.body"></div>
  </div>
</div>
