<form>
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="title" ng-model="vm.article.name">
  </div>
  <div class="form-group">
    <label for="bodyInput">Text</label>
    <textarea class="form-control" id="bodyInput" rows="10" ng-model="vm.article.body"></textarea>
  </div>
  <button type="submit" class="btn btn-default" ng-click="vm.save()">Save</button>
</form>
