<div class="modal-header">
  <h3 class="modal-title">{{"auth.title" | translate}}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">{{"auth.form.login" | translate}}</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Login / Email" ng-model="vm.credentials.username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">{{"auth.form.password" | translate}}</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="vm.credentials.password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.login()">{{"auth.form.login_button" | translate}}</button>
  </form>
</div>
