<timeline-badge class="success">
  <i class="fa fa-file-text"></i>
</timeline-badge>
<timeline-panel>
  <timeline-heading>
    <h4 class="timeline-title">
      <a ui-sref="main.profile.info({profile: ctrl.activity.user.identifier})"><strong ng-bind="ctrl.activity.user.name"></strong></a>
      <span> {{"activities.create_article.description" | translate}} </span>
      <a ui-sref="main.profile.info({profile: ctrl.activity.target.article.profile.identifier})">
        <strong ng-bind="ctrl.activity.target.article.profile.name"></strong></span>
      </a>
    </h4>
    <p><small class="text-muted"><i class="fa fa-clock-o"></i> <span am-time-ago="ctrl.activity.created_at | dateFormat"></span></small></p>
  </timeline-heading>
  <div class="timeline-body">
    <div class="article">
      <div class="title">
        <a ui-sref="main.profile.page({profile: ctrl.activity.target.article.profile.identifier, page: ctrl.activity.target.article.path})"
           ng-bind="ctrl.activity.target.article.title"></a>
      </div>
      <div class="lead small">
        <div ng-bind-html="ctrl.activity.target.article.body | stripTags | truncate: 100 : '...': true"></div>
      </div>
    </div>
  </div>
</timeline-panel>
