<% if params[:angular_theme_old] || request.fullpath.start_with?('/myprofile') %>
  <%= render file: Rails.root.join("app/views/layouts/application-ng.html.erb"), use_full_path: false %>
<% else %>
  <%= from_theme_include(current_theme, "index") %>
<% end %>
