.blog {
  .blog-cover {
    margin: -15px;
    position: relative;
    h3 {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      padding: 10px 15px;
      margin: 0;
      width: 100%;
    }
  }
}
