<ul class="nav navbar-nav">
  <li ng-show="vm.profile">
    <a href="#" role="button" ui-sref="main.profile.cms({profile: vm.profile.identifier})">
      <i class="fa fa-file fa-fw fa-lg"></i> {{"navbar.content_viewer_actions.new_post" | translate}}
    </a>
  </li>
</ul>
