<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">{{"navbar.toggle_menu" | translate}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main">
        <span class="noosfero-logo"><img src="assets/images/logo-noosfero.png"></span> {{"noosfero.name" | translate}}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse" collapse="isCollapsed">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!ctrl.currentUser">
          <a ng-href="#" ng-click="ctrl.openLogin()">{{"navbar.login" | translate}}</a>
        </li>

        <li class="dropdown profile-menu" ng-show="ctrl.currentUser" uib-dropdown>
          <a href="#" class="dropdown-toggle" aria-expanded="false" uib-dropdown-toggle>
            <noosfero-profile-image [profile]="ctrl.currentUser.person" class="profile-image"></noosfero-profile-image>
            <span ng-bind="ctrl.currentUser.person.name"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
              <li>
                  <a ui-sref="main.profile.info({profile: ctrl.currentUser.person.identifier})"><i class="fa fa-fw fa-user"></i> {{"navbar.profile" | translate}}</a>
              </li>
              <li>
                  <a target="_self" ui-sref="main.profile.settings({profile: ctrl.currentUser.person.identifier})"><i class="fa fa-fw fa-gear"></i> {{"navbar.settings" | translate}}</a>
              </li>
              <li class="divider"></li>
              <li>
                  <a href="#" ng-click="ctrl.logout()"><i class="fa fa-fw fa-power-off"></i> {{"navbar.logout" | translate}}</a>
              </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <language-selector class="nav navbar-nav navbar-right"></language-selector>
      </ul>
      <div ui-view="actions"></div>
    </div>
  </div>
</nav>
