.navbar {

  .container-fluid {
    padding-right: 12%;
    padding-left: 12%;
    @media (max-width: 978px) {
      padding-right: 2%;
      padding-left: 2%;
    }

    .navbar-brand {
      .noosfero-logo img {
        height: 35px;
      }
    }

    .navbar-nav {
      .profile-menu .profile-image {
        img {
          height: 30px;
          width: 30px;
          display: inline-block;
          @extend .img-circle;
        }
        i {
          font-size: 1.7em;
        }
      }
    }
  }
}
