<div class="center-block text-center profile-image-block">
  <a ui-sref="main.profile.info({profile: ctrl.owner.identifier})">
    <noosfero-profile-image [profile]="ctrl.owner"></noosfero-profile-image>
  </a>
  <a class="settings-link" target="_self" ui-sref="main.profile.settings({profile: ctrl.owner.identifier})">{{"blocks.profile_image.control_panel" | translate}}</a>
</div>
