<div deckgrid source="ctrl.documents" class="deckgrid">
  <div class="a-card panel media" ng-click="mother.ctrl.openDocument(card);">
      <div class="author media-left" ng-show="card.author.image">
        <img ng-src="{{card.author.image.url}}" class="img-circle">
      </div>
      <div class="header media-body">
        <h5 class="title media-heading" ng-bind="card.title"></h5>

        <div class="subheader">
          <span class="time">
            <i class="fa fa-clock-o"></i> <span am-time-ago="card.created_at | dateFormat"></span>
          </span>
        </div>
      </div>
      <img ng-show="card.image" ng-src="{{card.image.url}}" class="img-responsive article-image">
      <div class="post-lead" ng-bind-html="card.body | stripTags | truncate: 100: '...': true"></div>
  </div>
</div>
